body {
    font-family: "Ubuntu", sans-serif;
    font-size: 16px;
    text-rendering: optimizeLegibility;
}

p {
    margin-bottom: 1.5rem;
    line-height: 1.5rem;
}

ul, ol, dl {
    margin-bottom: 1.5rem;
}

ul ul, ul ol, ol ul, ol ol {
    margin-top:0;
    margin-bottom:0
}

ul li, ol li, dl dd {
    line-height: 1.5rem;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1.5rem;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.4em;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.0em;
}

code,
pre {
    font-size: 1em;
    font-family: "PragmataPro Liga", monospace;
    font-feature-settings: "kern" 1,"liga" 1,"calt" 1,"pnum" 1,"tnum" 0,"onum" 1,"lnum" 0,"dlig" 1,"salt" 1;
}
