[submodule "dotbot"]
	path = submodules/dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "submodules/fontconfig-emoji"]
	path = submodules/fontconfig-emoji
	url = https://github.com/stove-panini/fontconfig-emoji.git
