[Unit]
Description=SSH key agent

[Service]
Type=simple
Environment=SSH_AUTH_SOCK=%t/ssh-agent.socket
ExecStart=/usr/bin/ssh-agent -D -a "$SSH_AUTH_SOCK"
ExecStartPost=systemctl --user import-environment SSH_AUTH_SOCK

[Install]
# Gnome includes an SSH agent as part of its core keyring service, so we only need a separate agent on KDE
WantedBy=plasma-core.target