[Unit]
Description=Personal color scheme hook

[Service]
Type=simple
# Search executable in $HOME
ExecSearchPath=%h/.local/bin:/usr/local/bin:/usr/bin
ExecStart=color-scheme-hook

[Install]
WantedBy=graphical-session.target
