[Unit]
Description=sway wallpaperd
PartOf=graphical-session.target
Requires=sway-session.target
After=graphical-session.target
ConditionEnvironment=SWAYSOCK

[Service]
Type=simple
ExecStart=%h/.local/bin/sway-wallpaperd

[Install]
WantedBy=sway-session.target
