[Unit]
Description="xbanish"

[Service]
ExecStart=xbanish
# Restart only when xbanish dies; lets me stop the service by killing xbanish
# directly
Restart=on-abnormal

[Install]
WantedBy=default.target
